<div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Company Name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="company.company_name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Faa Id</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="company.faa_id">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Introduction</label>
    <div class="col-xs-10">
      <textarea class="form-control" type="text" ng-model="company.introduction"> </textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Address</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="company.address">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Phone</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="company.phone">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Primary Contact</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" ng-model="company.primary_contact">
    </div>
  </div>
  <div>
    <button class="btn btn-primary" ng-click="save()">Save</button>
  </div>
</div>
