<!doctype html>
{% load staticfiles %}
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css" />
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="{% static 'styles/main.css' %}">
     <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}"/>
      <!-- endbuild -->
     <base href="/"></base>
   </head>
   <body ng-app="dronegamaWebApp"  ng-controller="dronegamaIndexController">
      <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!-- Add your site or application content here -->
      <div class="header">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                  <a class="navbar-brand" ui-sref="main" data-target="#main">
                  <img style="margin-top: 10px" src="{% static "images/dronegama.png" %}"  ng-click='main.activetab = "home"' width="200"></img>
                  </a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                  <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav mr-auto">
                     <li ng-class="{active: main.activetab == 'pilots'}">
                        <a class="nav-link text-right non-dropdown" ui-sref="pilots" data-target="#pilots" data-toggle="tab" role="tab"
                        ng-click='main.activetab = "pilots"'>Pilots</a>
                     </li>
                     <li class="nav-item" ng-class="{active: main.activetab == 'packages'}">
                        <a class="nav-link text-right non-dropdown" ui-sref="packages" data-toggle="tab" data-target="#packages" role="tab"
                        ng-click='main.activetab = "packages"'>Packages</a>
                     </li>
                     <li class="nav-item" ng-class="{active: main.activetab == 'list_business'}">
                        <a class="nav-link text-right non-dropdown" ui-sref="list_business" data-toggle="tab" data-target="#list_business" role="tab"
                        ng-click='main.activetab = "list_business"'>List My Business</a>
                     </li>
                  </ul>
                  <ul class="tabbable navbar-nav" >
                  {% comment %}Login/signup side of things start{% endcomment %}
                  {% if user.is_authenticated %}
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-right" data-toggle="dropdown" href="#">{{ user.username }} <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" ui-sref="edit_profile">Edit Profile</a>
                              <a class="dropdown-item" href="accounts/logout/">Logout</a>
                        </div>
                     </li>
                  {% else %}
                     <li class="nav-item">
                        <a class="nav-link text-right non-dropdown" href="/accounts/register/"><span class="glyphicon glyphicon-user"></span> SignUp</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-right non-dropdown" href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                     </li>
                  {% endif %}
                  {% comment %}Login/signup side of things end{% endcomment %}
                                    </ul>

            </div>
</div>
         </nav>
         <!-- Tab panels -->
          <div class="container" align="left">
         {% block login %}{% endblock %}
         {% block register %}{% endblock %}
          </div>
      </div>

{% comment %}      <div ng-view=""></div>{% endcomment %}

       <div ui-view></div>

      <div class="footer">
         <div class="container">
            <p><span class="glyphicon glyphicon-heart"></span> from DroneGama</p>
         </div>
      </div>
      <!-- build:js(.) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="static/bower_components/jquery/dist/jquery.js"></script>
      <script src="static/bower_components/angular/angular.js"></script>
      <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="static/bower_components/angular-animate/angular-animate.js"></script>
      <script src="static/bower_components/angular-aria/angular-aria.js"></script>
      <script src="static/bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="static/bower_components/angular-messages/angular-messages.js"></script>
      <script src="static/bower_components/angular-resource/angular-resource.js"></script>
      <script src="static/bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="static/scripts/app.js"></script>
      <script src="static/scripts/controllers/main.js"></script>
      <script src="static/scripts/controllers/about.js"></script>
      <script src="static/scripts/controllers/company.js"></script>
      <script src="static/scripts/services/company.js"></script>
      <script src="static/scripts/services/ticker.js"></script>
      <script src="static/scripts/controllers/viewcompany.js"></script>
      <script src="static/scripts/controllers/newcompany.js"></script>
      <script src="static/scripts/controllers/listBusiness.js"></script>
      <!-- endbuild -->
      <script>
         angular.module('dronegamaWebApp')
           .controller('dronegamaIndexController', function ($scope) {
         		$scope.main = {};
         		{% if user.is_authenticated %}
         		$scope.main.isAuthenticated = true;
         		{% else %}
              $scope.main.isAuthenticated = false;
         		{% endif %}
		          $scope.main.activetab = 'main';
           });
      </script>
   </body>
</html>
