<div class="container">
   <div ng-if="!main.isAuthenticated">
      <div ng-controller="ListBusinessCtrl">
         <div class="modal fade" id="notLoggedInModal">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                     <h4 class="modal-title">Oh ... what just happened !</h4>
                  </div>
                  <div class="modal-body">
                     <p>You need to have an account. Please login to continue. It will take only two minutes.</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
         <!-- /.modal -->
      </div>
   </div>
   <div ng-if="main.isAuthenticated">
     <div ng-controller="ListBusinessCtrl">
       <div class="modal fade" id="listBusinessModalStart">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                 <h4 class="modal-title">Alright !</h4>
              </div>
             <div class="modal-body">
                     <p>This will only take a minute.</p>
             </div>
           </div>
         </div>
       </div>


       <div class="modal fade" id="listBusinessModalSteps">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                 <h4 class="modal-title">Step 1/4</h4>
              </div>
             <div class="modal-body">
               <form id="regForm" action="/save_listing">


<!-- views will be injected here -->

              <div ui-view>
                <button type="button" class="button" data-toggle="tab" ui-sref="list_business.form"
                        data-target="#list_business.form"><span aria-hidden="true">I am a Pilot</span></button>
              <button type="button" class="button"><span aria-hidden="true">I want to post a project</span></button>
              </div>



               </form>
             </div>
           </div>
         </div>
       </div>


     </div>
   </div>
</div>
